.contacts {
  margin: 20px;
  text-align: center;
}
.contacts__title {
  @mixin body-text;
  background-color: $white-color;
  font-size: 24px;
}
.contacts__item {
  @mixin btn-form;
  color: $dark-grey;
}
.contacts__link {
  @mixin body-text;
  color: $pink-color;
  font-size: 24px;
  text-decoration: none;
  &:hover {
    color:$dark-grey;
    text-decoration: underline;
  }
  &:active {
    opacity: 0.3;
  }
}
