.field-input {
  padding: 15px 22px;
  border: 2px solid $light-grey;
  border-radius: 1px;
  width: 232px;

  &:hover {
    border: 2px solid $dark-grey;
  }
  &:active {
    border: 2px solid $pink-color;
  }
  &--checkbox {
    width: auto;
  }
  &--radio {
    width: auto;
  }
}
