.field-text {
  @mixin text;
  line-height: 30px;
    &--invert {
    color: $color-pink;
    text-transform: uppercase;
  }
}
.field-input::-webkit-input-placeholder {
  @mixin text;
  font-size: $font-more-size;
  line-height: 30px;
}
.field-input:-moz-placeholder {
  @mixin text;
  font-size: $font-more-size;
  line-height: 30px;
}
