.logo {
  margin-left: 20px;
  padding-top: 22px;
  padding-bottom: 25px;
  outline: 1px solid red;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 42px;
  }
  @media (min-width: $desktop-width) {
    margin-left: 130px;
  }
}
