.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: 1px solid green;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    margin-right: 130px;
  }
}

.main-nav__toogler {
  position: absolute;
  top: -50px;
  right: 0;
  z-index: 1;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: 0;
  list-style: none;
  outline: 1px solid blue;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.main-nav__item {
  padding: 16px;
  text-align: center;
  font-family: $font-bold;
  font-size: $font-more-size;
  line-height: 32px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  cursor: pointer;
  &:hover>.main-nav__link {
    color: $color-pink;
  }
  &:first-child {
    @media (min-width: $desktop-width) {
      padding-left: 0px;
    }
  }
  &:last-child {
    @media (min-width: $desktop-width) {
      padding-right: 0px;
    }
  }
  @media (min-width: $desktop-width) {
    padding-right: 82px;
    border-bottom: none;
  }
}

.main-nav__link {
  color: $color-white;
  text-decoration: none;
  &:active {
    opacity: 0.3;
  }
}
