.offer {
  background-color: $color-smoke;
}
.offer__item {
  margin: 20px;
  text-align: center;
}
.offer__title {
  @mixin block-title-index;
}
.offer__descr {
  @mixin text;
}
.offer__image {
  padding-top: 43px;
}
.offer__item--wide {
  display: none;
}
