.page-header {
  display: flex;
  flex-direction: column;
  @mixin container;
  background-color: $dark-grey;
  justify-content: space-between;

  @media (min-width:$desktop-width) {
    flex-direction: row;
  }
}
.page-header__title {
  display: none;
}
