.photo__item {
  margin: 20px;
  &--look {
    margin: 0;
  }
}
.photo__picture{
  background-color: $grey-color;
}
.photo__descr {
  background-color: $grey-color;
  padding-left: 18px;
  &--look {
    margin: 20px;
  }
}
.photo__author {
  @mixin body-text;
  font-family: $font-bold;
}
.photo__time{
  @mixin body-text;
  font-family: $font-light;
  text-transform: uppercase;
}
.photo__comment {
  @mixin body-text;
}
.photo__like {
  @mixin body-text;
  color: $pink-color;
  text-transform: uppercase;
}
