.rate__name {
  @mixin btn-form;
  background-color: $dark-grey;
  text-transform: uppercase;
}
.rate__price {
  @mixin body-title;
  line-height: 30px;
}
.rate__item {
  @mixin body-text;
  line-height: 30px;
  text-transform: uppercase;
}
