.slogan {
  @mixin container;
  margin-top: 40px;
  outline: 1px solid green;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 68px;
  }
}
.slogan__text {
  display: block;
  @mixin text;
  line-height: 1.2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
  font-family: $font-light;
  font-size: $font-title-size;
  background-color: $color-white;
  outline: 1px solid grey;

  @media (min-width:$tablet-width) {
    margin: 0;
    font-size: $font-tablet-size;
  }
  @media (min-width:$desktop-width) {
    font-size: $font-desktop-size;
  }
  &--small {
    font-size: $font-more-size;
  }
}
