.upload__btn {
  border: 3px solid $pink-color;
  color: $pink-color;
  background-color: $white-color;
  &:hover {
    background-color:$pink-color;
    color: $white-color;
  }
  &:active {
    background-color:$pink-color;
    color: color($pink-color lightness(70%));
  }
}
.upload__btn--invert {
  border: 3px solid color($dark-grey lightness(90%));
  color: color($dark-grey lightness(90%));
  &:hover {
    border: 3px solid color($dark-grey lightness(70%));
    color: color($dark-grey lightness(70%));
    background-color: $white-color;
  }
  &:active {
    background-color: color($dark-grey lightness(70%));
    color: color($dark-grey lightness(90%));
  }
}
.upload__block {
  margin: 20px;
}
.upload__btn {
  width: 100%;
  margin-bottom: 12px;
}
