.upload__btn {
  color: $pink-color;
  background-color: $bg-color;
  border: 3px solid $color-pink;
  &:hover {
    background-color:$color-pink;
    color: $color-white;
  }
  &:active {
    color: color($color-pink lightness(70%));
    background-color:$color-pink;
  }
}
.upload__btn--invert {
  color: color($menu-color lightness(90%));
  border: 3px solid color($menu-color lightness(90%));
  &:hover {
    color: color($menu-color lightness(70%));
    background-color: $bg-color;
    border: 3px solid color($menu-color lightness(70%));
  }
  &:active {
    color: color($menu-color lightness(90%));
    background-color: color($menu-color lightness(70%));
  }
}
.upload__block {
  margin: 20px;
}
.upload__btn {
  width: 100%;
  margin-bottom: 12px;
}
