@define-mixin container {
  width: 320px;
  margin: 0 auto;

  @media ($tablet-width) {
    width: 660px;
  }
  @media ($desktop-width) {
    width: 1200px;
  }
}
@define-mixin body-text {
  font-family: $font-regular;
  font-size: $font-body-size;
  line-height: 24px;
  color: $body-color;
}
@define-mixin body-title {
  font-family: $font-light;
  font-size: $font-title-size;
  color: $white-color;
}
@define-mixin block-title {
  font-family: $font-regular;
  font-size: $font-body-size;
  color: $pink-color;
  line-height: 18px;
}
@define-mixin block-title-index {
  font-family:$font-bold;
  font-size: 18px;
  line-height: 24px;
  color: $black-color;
}
@define-mixin btn-form {
  font-family: $font-bold;
  color: $font-form-color;
  font-size: 18px;
  line-height: 30px;
}
