@define-mixin container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
  }
  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
@define-mixin inner-container {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }
  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0 130px;
  }
}
@define-mixin text {
  font-family: $font-regular;
  font-size: $font-text-size;
  line-height: 24px;
  color: $text-color;
}
@define-mixin title {
  font-family: $font-light;
  font-size: $font-title-size;
  color: $color-white;
}
@define-mixin block-title {
  font-family: $font-regular;
  font-size: $font-text-size;
  color: $color-pink;
  line-height: 18px;
}
@define-mixin block-title-index {
  font-family:$font-bold;
  font-size: $font-more-size;
  line-height: 24px;
  color: $color-black;
}
@define-mixin btn-form {
  font-family: $font-bold;
  color: $white-color;
  font-size: $font-more-size;
  line-height: 30px;
}
